{{ define "main" }}
<div class="wrap">
  <div class="page page-home">
    {{ .Content }}
    <h2>Latest Essays <a href="/essays/">View all</a></h2>
    <ul class="posts-list">
      {{ range first 5 (where .Site.RegularPages "Type" "essays") }}
      <li class="posts-list-item">
        <a href="{{ .Permalink }}">{{ .Title }}</a
        ><span class="posts-list-item-date"
          >{{ .Date.Format "January 2006" }}</span
        >
      </li>
      {{ end }}
    </ul>
    <h2>Latest Notes <a href="/notes/">View all</a></h2>
    <ul class="posts-list">
      {{ range first 5 (where .Site.RegularPages "Type" "notes") }}
      <li class="posts-list-item">
        <a href="{{ .Permalink }}">{{ .Title }}</a
        ><span class="posts-list-item-date"
          >{{ .Date.Format "January 2006" }}</span
        >
      </li>
      {{ end }}
    </ul>
    <!--
    <h2>Other Pages</h2>
    <p>These are some static pages that I update from time to time:</p>
    <ul>
        <li><a href="">Quotes</a></li>
        <li><a href="">Blogroll</a></li>
        <li><a href="">Favorites</a></li>
    </ul>
    -->
    {{ partial "nlbox.html" }}
  </div>
</div>
{{ end }}
