<div class="footer">
  <div class="wrap">
    <div class="footer-body">
      <p class="footer-links">
        <span class="footer-link">
          <a href="https://bsky.app/profile/previnder.com">Bluesky</a>
          <span class="dot">•</span>
        </span>
        <span class="footer-link">
          <a href="https://x.com/previnderx">X (Twitter)</a>
          <span class="dot">•</span>
        </span>
        <span class="footer-link">
          <a href="https://github.com/previnder">Github</a>
          <span class="dot">•</span>
        </span>
        <span class="footer-link">
          <a href="/index.xml">RSS</a>
          <span class="dot">•</span>
        </span>
        <!--
        <span class="footer-link">
          <a href="">Newsletter</a>
          <span class="dot">•</span>
        </span>
        -->
      </p>
      <p class="footer-cr">© 2024 Previnder</p>
    </div>
  </div>
</div>
